<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Parameterized wrapper around a remote call to roper.  This is parameterized mainly to give users the ability to redo a roper build.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>100</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>action</name>
          <description>The action on the pull request event</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>opened</string>
              <string>closed</string>
              <string>synchronize</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>repo</name>
          <description>A github repository in the form &quot;&lt;user&gt;/&lt;repo&gt;&quot;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description>The repository branch to be passed to roper</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sha</name>
          <description>The commit sha for HEAD of branch</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
args=&quot;--repo=$repo --branch=$branch&quot;

if [ &quot;$action&quot; == &quot;closed&quot; ]; then
  command=release
else
  command=lasso
  args=&quot;$args --domain=devkinzer.net --sha=$sha --status_url=${BUILD_URL}console&quot;
fi

ssh devkinzer -C roper $command $args</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>